* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: blueviolet;
}

html, body {
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-bar {
  position: fixed;
  left: 10vw;
  top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overview {
  position: fixed;
  left: 10vw;
  top: 20vh;
  width: 475px;
  height: 516px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .pokemons-container {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 35vw;
  top: 5vh;
} */

.pokemons-container {
  display: grid;
  position: relative;
  left: 30vw;
  top: 5vh;
  grid-template-columns: auto auto auto auto;
  gap: 5vh;
  background-color: lightgrey;
  padding: 2vh;
}

.pkmn-entry {
  text-align: center;
  transition: transform 0.1s;
}

.pkmn-entry:hover {
  transform: scale(1.2);
}

.fire {
  background: #FBA54C;
}

.bug {
  background: #599c1f;
}

.icon {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin: auto;
}