* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-bar {
  position: fixed;
  left: 10vw;
  top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overview {
  position: fixed;
  left: 10vw;
  top: 20vh;
  width: 475px;
  height: 516px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemons-container {
  display: grid;
  position: relative;
  left: 30vw;
  top: 5vh;
  grid-template-columns: auto auto auto auto;
  gap: 5vh;
  background-color: lightgrey;
  padding: 2vh;
}

.pkmn-entry {
  text-align: center;
  transition: transform 0.1s;
}

.pkmn-entry:hover {
  transform: scale(1.2);
}

.fire {
  background-color: #FBA54C;
}

.water {
  background-color: #00b3ff;
}

.grass {
  background-color: #26d33d;
}

.electric {
  background-color: #fee22e;
}

.flying {
  background-color: #8fddff;
}

.rock {
  background-color: #805a31;
}

.ground {
  background-color: #c58a4a;
}

.steel {
  background-color: #5695A3;
}

.ghost {
  background-color: #6a4d90;
}

.dark {
  background-color: #515151;
}

.psychic {
  background-color: #ee6a75;
}

.poison {
  background-color: #8d3ef5;
}

.normal {
  background-color: #919191;
}

.fairy {
  background-color: #ee90e6;
}

.fighting {
  background-color: #d3425f;
}

.ice {
  background-color: #75D0C1;
}

.dragon {
  background-color: #0C69C8;
}

.bug {
  background-color: #599c1f;
}

.icon {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin: auto;
}

.icon img {
  height: 60%;
  width: 60%;
  margin: 20%;
}