* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: inherit;
  /* position: absolute; */
  /* top: 0; right: 0; bottom: 0; left: 0; */
  border: 5px solid orange;
}

.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  width: 80%;
}

.pkmn-entries {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: inherit;
  justify-content: space-around;
}

.pkmn-entry {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}